<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h1 class="name-font">GroupSplit</h1>
    </div>
  </div>

  <% if @errors.length > 0 %>
    <% @errors.each do |msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

      <%= form_tag '/login', method: :post, :class => "form-horizontal" do %>
        <label for="input-email"></label>
          <%= text_field_tag :email, params[:email], class: 'form-control', placeholder: 'Your email address'%>

        <label for="input-password"></label>
          <%= password_field_tag :password, params[:password], class: 'form-control', placeholder: 'Enter your password' %>
        <br>
          <%= submit_tag "Log In", class: 'btn btn-primary btn-lg btn-block' %>
      <% end %>
    </div>
  </div><br>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
      New to GroupSplit? <%= link_to 'Sign Up Here', '/', class: 'btn btn-default btn-sm' %>
    </div>
  </div>

</div>
