<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>Add New Expense</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= form_for([@report, @report.expenses.build]) do |f| %>

        <label for="expense-vendor">Vendor</label>
        <%= f.text_field :vendor, class: 'form-control', placeholder: 'Vendor' %>

        <label for="expense-date">Date</label>
        <%= f.date_field :date, class: 'form-control' %>

        <label for="expense-amount">Amount Paid</label>
        <%= f.number_field :amount, :class => 'text_field',
                                    :step => 0.01, :min => 0,
                                    class: 'form-control',
                                    placeholder: '0.00' %>

        <label for="expense-person">Person Who Paid</label>

        <div class="dropdown">
          <%= collection_select(:person, :id, @report.people, :id, :email, prompt: true, class: 'dropdown-menu') %>
        </div>
        <%= f.submit "Submit", class: 'btn btn-success btn-sm pull-right' %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= link_to 'Back', report_path(@report), class: 'btn btn-primary btn-sm' %>
    </div>
  </div>

</div>
