<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3>New Expense</h3>
    </div>
  </div>

  <!-- Outer row -->
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    <!-- Inner rows start here -->
    <% if @expense.errors.any? %>
      <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
              <ul>
                <% @expense.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
          </div>
        </div>
      </div>
    <% end %>

    <!-- Form starts here -->
    <div class="well">
      <div class="row">
        <%= form_for([@report, @expense]) do |f| %>
          <div class="col-xs-12">
            <p><span class="required">*</span> Indicates a required field</p>

            <div class="form-group">
              <label for="expense-vendor">Vendor <span class="required">*</span></label>
                <%= f.text_field :vendor, class: 'form-control', placeholder: 'Vendor' %>
            </div>

            <div class="form-group">
              <label for="expense-date">Date <span class="required">*</span></label>
                <%= f.date_field :date, class: 'form-control' %>
            </div>

            <div class="form-group">
              <label for="expense-amount">Amount Paid <span class="required">*</span></label>
                <%= f.number_field :amount, :class => 'text_field',
                                            :step => 0.01, :min => 0,
                                            class: 'form-control',
                                            placeholder: '0.00' %>
            </div>

            <div class="form-group">
              <label for="expense-person">Person Who Paid <span class="required">*</span></label>
              <div class="dropdown">
                <%= collection_select(:person, :id, @report.people, :id, :email, prompt: true, class: 'dropdown-menu') %>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
                <%= link_to 'Cancel', report_path(@report), class: 'btn btn-default btn-sm' %>
              </div>

              <div class="btn-group">
                <%= f.submit "Submit", class: 'btn btn-success btn-sm pull-right' %>
              </div>
            </div>
          </div>
        <% end %> <!-- Form ends here -->
      </div>
    </div> <!-- Well ends here -->

    </div>
  </div>
  <!-- Outer row ends here -->

</div>
