<div class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <%= form_for @report, class: "form-horizontal" do |f| %>

        <% if @report.errors.any? %>
          <div id="error_explanation">
            <h4>
              <%= pluralize(@report.errors.count, "error") %> prohibited
              this report from being saved:
            </h4>
            <ul>
              <% @report.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

          <label for="report-name">Report Name</label>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.submit "Submit", class: 'btn btn-success btn-sm pull-right' %>

      <% end %>
  </div>
</div>
