<div class="container">

  <div class="row">
    <div class="col-xs-12 text-center">
      <h3><%= @report.name %></h3>
    </div>
  </div>

  <div class="row">
    <div class="span9">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <strong>Group Expenses:</strong>
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Vendor</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Who Paid</th>
              </tr>
              <% @report.expenses.each do |expense| %>
              <tr>
                <td><%= expense.vendor %></td>
                <td><%= expense.date %></td>
                <td><%= number_to_currency(expense.amount/100.00) %></td>
                <td><%= expense.person.email %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
    </div>
    <div class="span3">
      <div class="col-xs-12 col-sm-3">
        <strong>Expense total:</strong> <%= number_to_currency(@report.sum_expenses) %>
      </div>
      <div class="col-xs-12 col-sm-3">
        <strong>Individual obligation:</strong> <%= number_to_currency(@report.individual_obligation) %>
      </div>
    </div>
  </div><br>

  <div class="row">
    <div class="span9">
        <div class="col-xs-12 col-sm-8 col-sm-offset-1">
          <strong>People Who Need to Pay:</strong>
          <div class="table-responsive">
            <table class="table table-bordered">
              <tr>
                <th>Email</th>
                <th>Amount Owed</th>
                <th>Owed To</th>
              </tr>
              <% @report.payments.each do |payment| %>
              <tr>
                <td><%= payment.person.email %></td>
                <td><%= number_to_currency(payment.amount_owed/100.00) %></td>
                <td><%= payment.owed_to_person.email %></td>
              </tr>
              <% end %>
            </table>
          </div>
        </div>
    </div>

    <div class="span3">
      <div class="col-xs-12 col-sm-3">
        <strong>Reconciliation:</strong>
        <div class="table-responsive">
          <table class="table table-bordered">
            <tr>
              <th>Email</th>
              <th>Amount</th>
            </tr>
            <% @report.determine_owed_amounts.each do |email, amount| %>
            <tr>
              <td><%= email %></td>
              <td><%= number_to_currency(amount) %></td>
            </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span9">
    </div>

    <div class="span3">
      <div class="col-xs-12 col-sm-3">
        <%= link_to 'Delete Report', report_path(@report),
                                      class:'btn btn-danger btn-sm',
                                      method: :delete,
                                      data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
