<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>People:</strong>
    <% if @report.people %>
      <ul>
        <% @report.report_people.each do |report_person| %>
          <li><%= report_person.person.email %>
          </li>
        <% end %>
      </ul>
    <% end %>
</p>

<p>
<strong>Expenses:</strong>
  <table>
    <tr>
      <th>Vendor</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Who Paid</th>
    </tr>
    <% @report.expenses.each do |expense| %>
      <tr>
        <td><%= expense.vendor %></td>
        <td><%= expense.date %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.person.email %></td>
      </tr>
    <% end %>
  </table>
</p>

<p>Expense total: $<%= @report.sum_expenses %></p>
<p>Individual obligation: $<%= @report.individual_obligation %></p>

<%= link_to 'Back', reports_path %>
