<p>
  <strong>Name:</strong>
  <%= @report.name %>
</p>

<p>
  <strong>People:</strong>
    <% if @report.people %>
      <ul>
        <% @report.people.each do |person| %>
          <li><%= person.name %></li>
        <% end %>
      </ul>
    <% end %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %> |
<%= link_to 'Add New Person', report_people_new_path(@report) %>
