<p>
  <strong>Name:</strong>
  <%= @report.name %> <%= link_to 'Edit Name', edit_report_path(@report) %>
</p>

<p>
  <strong>People:</strong> <%= link_to 'Add New Person', report_people_new_path(@report) %>
    <% if @report.people %>
      <ul>
        <% @report.report_people.each do |report_person| %>
          <li><%= report_person.person.email %></li>
        <% end %>
      </ul>
    <% end %>
</p>

<p>
<strong>Expenses:</strong>
  <table>
    <tr>
      <th>Vendor</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Who Paid</th>
    </tr>
    <% @report.expenses.each do |expense| %>
      <tr>
        <td><%= expense.vendor %></td>
        <td><%= expense.date %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.person.email %></td>
      </tr>
    <% end %>
  </table>
</p>

<h2>Add an expense:</h2>
<%= form_for([@report, @report.expenses.build]) do |f| %>
  <p>
    <%= f.label :vendor %><br>
    <%= f.text_field :vendor %>
  </p>
  <p>
    <%= f.label :date %><br>
    <%= f.date_field :date %>
  </p>
  <p>
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :class => 'text_field', :step => 0.01 %>
  </p>

  <p>
    <%= f.label :person_id %><br>
    <%= collection_select(:person, :id, @report.people, :id, :email, prompt: true) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<%= link_to 'Back', reports_path %>
