<p>
  <strong>Name:</strong>
  <%= @report.name %> <%= link_to 'Edit Name', edit_report_path(@report) %>
</p>

<p>
  <strong>People:</strong> <%= link_to 'Add New Person', report_people_new_path(@report) %>
    <% if @report.people %>
      <ul>
        <% @report.report_people.each do |report_person| %>
          <li><%= report_person.person.email %>
              <%= link_to 'Remove', report_report_person_path(@report, report_person),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
          </li>
        <% end %>
      </ul>
    <% end %>
</p>

<p>
<strong>Expenses:</strong> <%= link_to 'Add New Expense', new_report_expense_path(@report) %>
  <table>
    <tr>
      <th>Vendor</th>
      <th>Date</th>
      <th>Amount</th>
      <th>Who Paid</th>
    </tr>
    <% @report.expenses.each do |expense| %>
      <tr>
        <td><%= expense.vendor %></td>
        <td><%= expense.date %></td>
        <td>$<%= expense.amount %></td>
        <td><%= expense.person.email %></td>
        <td><%= link_to 'Remove', report_expense_path(@report, expense),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</p>

<p>Expense total: $<%= @report.sum %></p>

<%= link_to 'Back', reports_path %>
